{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  },
  "overrides": [
    // typescript
    {
      "files": ["*.ts"],
      "excludedFiles": ["*.test.js", "gatsby-node.js", "gatsby-config.js"],
      "plugins": ["@typescript-eslint"],
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "rules": {
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/member-delimiter-style": 0,
        "@typescript-eslint/interface-name-prefix": 0,
        "@typescript-eslint/no-use-before-define": 0,
        "react/prop-types": 0
      }
    }
  ],
  "rules": {
    "prettier/prettier": "error",
    "prefer-template": "error",
    "no-console": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "ts": "never"
      }
    ]
  },
  "globals": {
    "Application": true,
    "delay": true,
    "debug": true,
    "debugElements": true
  }
}
